global: 
  resolve_timeout: 5m

route:
  group_by: [ alertname ]
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1m
  #receiver: 'mail' # default receiver
  receiver: 'slack'

  routes:
    - match: 
        severity: page
      group_by: ['team']
      receiver: 'slack'
      routes: 
        - match: 
            team: devops
          receiver: 'slack'

    - receiver: 'teams'
      repeat_interval: 1m
      matchers:
        - severity="medium"

    - receiver: 'teams'
      repeat_interval: 1m
      matchers:
        - severity="high"
    
receivers:
  - name: 'slack'
    slack_configs: 
      - channel: "#monitoring"
        api_url: https://hooks.slack.com/services/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
        text: "Overview: {{  .CommonAnnotations.overview }}"

  - name: 'mail'
    email_configs:
      - smarthost: 'securitec-pe.mail.protection.outlook.com:587'
        auth_username: 'alerts@securitec.pe'
        auth_identity: 'alerts@securitec.pe'
        auth_password: "CWCCn6LgeMjv"
        from: 'alerts@securitec.pe'
        to: 'antonio.gonzales@securitec.pe'
        require_tls: true

# receivers:
#   - name: 'mail'
#     email_configs:
#       - smarthost: 'smtp.mail.yahoo.com:587'
#         auth_username: 'dummy.sec@yahoo.com'
#         auth_identity: 'dummy.sec@yahoo.com'
#         auth_password: "lqkeuhxqoyefbwlc"
#         from: 'dummy.sec@yahoo.com'
#         to: 'dummy.sec@yahoo.com'
#         require_tls: false

  - name: 'teams'
    webhook_configs:
      - url: "http://prom2teams:8089"
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'page'
    target_match:
      severity: 'ticket'
    equal: ['team']
