route:
  group_by: [ alertname ]
  receiver: 'mail' # default receiver
  repeat_interval: 24h
  routes:
    - receiver: 'teams'
      repeat_interval: 12h
      matchers:
        - severity="medium"

    - receiver: 'teams'
      repeat_interval: 4h
      matchers:
        - severity="high"

receivers:
  - name: 'mail'
    email_configs:
      - smarthost: 'smtp.mail.yahoo.com:587'
        auth_username: 'dummy.sec@yahoo.com'
        auth_password: "lqkeuhxqoyefbwlc"
        from: 'dummy.sec@yahoo.com'
        to: 'dummy.sec@yahoo.com'
        require_tls: false

  - name: 'teams'
    webhook_configs:
      - url: "http://prom2teams:8089"
        send_resolved: true
