global:
  scrape_interval: 30s
  scrape_timeout: 10s

rule_files:
  - alert.yml

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: [ 'alertmanager:9093' ]

scrape_configs:
  - job_name: services
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'idonotexists:564'

  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'prometheus:9090'

  - job_name: grafana
    static_configs:
      - targets:
          - 'grafana:3000'

  - job_name: alertmanager
    static_configs:
      - targets:
          - 'alertmanager:9093'

  - job_name: app
    static_configs:
      - targets:
          - 'localhost:80'
